header{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    align-content: center;
}

p {
    font-size: 20px;
}

.time {
    flex:1;
    text-align: right;
    margin-right: 20px;
}

.high-score {
    margin-left: 20px;
    color: purple;
}

.description {
    width: 590px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.description p {
    flex: 1;
    align-content: space-around;
}

.description button {
    flex: 1;
    width: 200px;
    height: 200px;
    align-content: space-around;
    background-color: purple;
    color: white;
}