header{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    align-content: center;
}

p {
    font-size: 20px;
}

.time {
    flex:1;
    text-align: right;
    margin-right: 20px;
}

.high-score {
    margin-left: 20px;
    color: purple;
    border:none;
    background: none;
    padding: 0;
    font-size: 20px;
}

.description {
    width: 590px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.description p {
    flex: 1;
    align-content: space-around;
}

.description button {
    flex: 1;
    width: 150px;
    height: 400px;
    align-content: space-around;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
}
.answer-buttons {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}



.btn {
    width: 150px;
    height: 50px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
}

.btn:hover {
    background-color: rebeccapurple;
}

.hide {
    display: none;
}

.message {
    padding-left: 500px;
    font-size: 25px;
}

.initials {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 0;
}

.heading {
    padding-right: 240px;
}

.high-score-buttons {
    margin-left: 480px;
}

#submit-initials {
    margin-left: 20px;
}

#end-game div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 500px;
    align-content: space-around;
}

#correct {
    text-align: center;
    border-top: 2px solid black;
    margin-top: 20px;
    font-size: 30px;
}


#wrong {
    text-align: center;
    border-top: 2px solid black;
    margin-top: 30px;
    font-size: 30px;
}



